.hero{
    background-color: blue;
    font-family: Sans-serif;
}
.logo{
    height: 50px;
    width: 30px;
    padding: 50px 80px;
}

.content{
    display: flex;
    flex-direction: grid;
    gap: 30px;
    justify-content: space-around;
}
.content h1{
    font-weight: 40px;
    color: #777;
}
.content p{
    padding-top: 30px

}