<!DOCTYPE HTML>
<html>
    <head>

    </head>
</html>
<body>
     <div class="table_row_col">
        <h2>Planetry Facts at a Glance</h2>
        <p class="facts"> Below is a comparative of major planets in our solar system. The data highlights key physical properties used by astronomers and researchers worldwide.</p>
        
       <table style="width:100%">
           <caption>Data about the planet of our solar system (planetary facts taken from NASA)</caption>
     
    <div class="main_table">    
      <div class="tab">
         <thead>
           <tr id="table-head">
            <th colspan="2"> </th>
            <th>Name</th>
            <th>Mass(10<sup>24</sup>kg)</th>
            <th>Diametre(km)</th>
            <th>Density(kg/m<sup>3</sup>)</th>
            <th>Gravity(m/s<sup>2</sup>)</th>
          </tr>
        </thead>
      </div>    
        <tbody>
          <tr>
            <th class="row-1" rowspan="4" colspan="2">Terrestial Planets</td>
            <th>mercury</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th>Venus</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th>Earth</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th>Mars</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr> 
            <th class="row-1" rowspan="4">Jovial Planet</th>
            <th class="row-1" rowspan="2">Gas Giant</th>
            <th>Jupitar</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th>Saturn</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th class="row-1" rowspan="2">Ice Giant</th>
            <th>Uranus</hd>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
          <tr>
            <th>Neptune</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
          </tr>
         <tr>
            <th class="row-1" colspan="2">Dwarf planets</th>
          <th>Pluto</th>
            <td>0.330</td>
            <td>4,878</td>
            <td>5427</td>
            <td>3.7</td>
         </tr>
        </tbody>
    </div>   
   </table>
</body>